/*
 * Copyright (c) 2026 Richard Osterloh <richard.osterloh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	dxl_uart: uart-emul {
		compatible = "zephyr,uart-emul";
		current-speed = <115200>;
		tx-fifo-size = <128>;
		rx-fifo-size = <128>;
		latch-buffer-size = <128>;
		status = "okay";

		dxl_bus: dxl-bus {
			status = "okay";
			compatible = "robotis,dynamixel";
			#address-cells = <1>;
			#size-cells = <0>;

			alpha: motor@1 {
				compatible = "rosterloh,actuator-dxl";
				reg = <1>;
				label = "ALPHA";
			};

			beta: motor@2 {
				compatible = "rosterloh,actuator-dxl";
				reg = <2>;
				label = "BETA";
			};
		};
	};
};
