# ROS Driver for Robots board configuration

config BOARD_ROS_DRIVER
	select SOC_ESP32_WROOM_32UE_N4
	select SOC_ESP32_PROCPU if BOARD_ROS_DRIVER_ESP32_PROCPU
	select SOC_ESP32_APPCPU if BOARD_ROS_DRIVER_ESP32_APPCPU