menu "Drivers"
rsource "adc/Kconfig"
rsource "led_strip/Kconfig"
rsource "actuator/Kconfig"
rsource "dynamixel/Kconfig"
rsource "gpio/Kconfig"
rsource "mfd/seesaw/Kconfig"
rsource "pwm/Kconfig"
rsource "sensor/Kconfig"
endmenu