menu "Drivers"
rsource "adc/Kconfig"
rsource "actuator/Kconfig"
rsource "dynamixel/Kconfig"
rsource "gpio/Kconfig"
rsource "mfd/seesaw/Kconfig"
rsource "seesaw/Kconfig"
rsource "sensor/Kconfig"
endmenu